.MobileNavbar {
  background-color: var(--main-color);
  padding: 1em;
  margin: 1em 0;
  align-items: center;
  position: fixed;
  z-index: 100;
  bottom: -15px;
  opacity: 0.9;
  box-shadow: 1px 2px 8px 1px rgb(27, 27, 27);
}

.menuitem {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  margin-bottom: -1em;
  align-items: center;
}

.menuitem:hover {
  border-bottom: 4px solid var(--sec-color);
}

@media screen and (min-width: 767px) {
  .MobileNavbar {
    visibility: hidden;
  }
}
