.newscard {
  background-color: white;
  box-shadow: 1px 1px 1px grey;
}

.NewsCardWrapper {
  position: relative;
}

.NewsCardExcerpt {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: -1em;
  background-color: white;
  text-align: left;
}

.NewsCardTitle {
  position: inherit;
  background-color: rgba(0, 0, 0, 0.4);
  top: -25px;
  color: #fff;
}

.Readmore {
  text-decoration: none;
  font-weight: 600;
  padding: 0.2em;
  color: var(--main-color);
}

img {
  width: 100%;
}
