@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #006900;
  --pry-color: #034203;
  --active-text: #000;
  --grey-icon: #cac1c1;
  --sec-color: #90dd05;
}

body {
  background-color: #f3f2f2 !important;
  font-family: "Montserrat", sans-serif;
}

/* ====================
=======TYPOGRAPHY============ */

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* ====================
=======TYPOGRAPHY============ */

.NewsCategory a {
  text-decoration: none;
  color: white;
}

.App {
  text-align: center;
}

.LogoSearch {
  align-items: center;
  background-color: var(--main-color);
  padding: 1em;
}

.NewsCategory {
  background-color: var(--main-color);
  padding: 0 1em;
}

.newsCat {
  background-color: var(--sec-color);
  padding: 0.5em 0.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  width: 100%;
}

.newsCat:hover {
  background-color: var(--main-color);
  padding: 0.5em 0.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  width: 100%;
}

.newsCat2 {
  background-color: var(--pry-color);
  padding: 0.5em 0.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  width: 100%;
}

.link a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.slick-prev {
  left: -15px !important;
  z-index: 1;
}

.slick-next {
  right: -10px !important;
}

.goodnews h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 6rem;
  font-weight: Black;
  color: var(--main-color);
}

@media screen and (min-width: 767px) {
  .slick-next,
  .slick-prev {
    visibility: visible;
  }
}

@media screen and (max-width: 500px) {
  .goodnews h2 {
    font-size: 3rem;
  }
}
