@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #006900;
  --active-text: #000;
  --grey-icon: #cac1c1;
  --sec-color: #90dd05;
}

body {
  background-color: #f3f2f2 !important;
  font-family: "Montserrat", sans-serif;
}

/* ====================
=======TYPOGRAPHY============ */

h2 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* ====================
=======TYPOGRAPHY============ */

.NewsCategory a {
  text-decoration: none;
  color: white;
}

.App {
  text-align: center;
}

.LogoSearch {
  align-items: center;
  background-color: var(--main-color);
  padding: 1.5em;
}

.NewsCategory {
  background-color: var(--main-color);
  padding: 0 1em;
}

.newsCat {
  background-color: var(--sec-color);
  padding: 0.5em 0.3em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.slick-prev {
  left: -15px !important;
  z-index: 1;
  visibility: hidden;
}

.slick-next {
  right: -10px !important;
  visibility: hidden;
}

@media screen and (min-width: 767px) {
  .slick-next,
  .slick-prev {
    visibility: visible;
  }
}
